h2 {
    color: black;
    margin-left: 10px;
}
.networking {
    border: 1px solid black;
    margin: 10px;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 15px;
    padding-left: 10px;
    border-style: solid;
    border-radius: 50px;
}
.WebServices {
    margin:10px;
    padding: 15px;
    border: 1px solid black;
    border-radius: 50px;
}
body {
    color:black;
    background-color:cyan;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
}